{% extends "layout.html" %}
{% block content %}
	<h1>About this site & credits</h1>
	<div style="margin-left: 1em;">
			<font size=3>Made using: </font>
			<div style="margin-left: 1em;">
				<font size=3>- <b>Flask</b></font>
			</div>
			<div style="margin-left: 1em;">
				<font size=3>- <b>Jinja2</b></font>
			</div>
			<div style="margin-left: 1em;">
				<font size=3>- <b>Bootstrap</b></font>
			</div>
	</div>
	<div style="margin-left: 1em;">
		<font size=3>Resources used to build this include:</font>
			<div style="margin-left: 1em;">
				<font size=3>- Flask <a href = "https://flask.palletsprojects.com/en/1.1.x/">documentation</a>
			</div>
			<div style="margin-left: 1em;">
				<font size=3>- Flask tutorials by <a href = "https://www.youtube.com/channel/UCCezIgC97PvUuR4_gbFUs5g">Cory Schafer</a></font>
			</div>
			<div style="margin-left: 1em;">
				<font size=3>- Documentation on Python, CSS, HTML, and much more from <a href = "https://www.w3schools.com/">W3Schools</a>
			</div>
			<div style="margin-left: 1em;">
				<font size=3>- And other various websites found with Google</font>
	</div>
{% endblock content %}
